# Run AIDE integrity check
## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by MindPointGroup LLC
### YOUR CHANGES WILL BE LOST!
# CIS 1.3.2

{{ amzn2023cis_aide_cron['aide_minute'] }} {{ amzn2023cis_aide_cron['aide_hour'] }} {{ amzn2023cis_aide_cron['aide_month'] }} {{ amzn2023cis_aide_cron['aide_weekday'] }} {{ amzn2023cis_aide_cron['aide_job'] }}
