---

- name: "5.1.2.1.1 | PATCH | Ensure systemd-journal-remote is installed"
  when: amzn2023cis_rule_5_1_2_1_1
  tags:
      - level1-server
      - manual
      - patch
      - journald
      - rule_5.1.2.1.1
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-12
      - NIST800-53R5_SI-5
  ansible.builtin.package:
      name: systemd-journal-remote
      state: present

- name: "5.1.2.1.2 | PATCH | Ensure systemd-journal-remote is configured"
  when: amzn2023cis_rule_5_1_2_1_2
  tags:
      - level1-server
      - manual
      - patch
      - journald
      - rule_5.1.2.1.2
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-7
      - NIST800-53R5_AU-12
  ansible.builtin.lineinfile:
      path: /etc/systemd/journal-upload.conf
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
  notify: Restart journald
  loop:
      - { regexp: 'URL=', line: 'URL={{ amzn2023cis_journal_upload_url }}'}
      - { regexp: 'ServerKeyFile=', line: 'ServerKeyFile={{ amzn2023cis_journal_upload_serverkeyfile }}'}
      - { regexp: 'ServerCertificateFile=', line: 'ServerCertificateFile={{ amzn2023cis_journal_servercertificatefile }}'}
      - { regexp: 'TrustedCertificateFile=', line: 'TrustedCertificateFile={{ amzn2023cis_journal_trustedcertificatefile }}'}

- name: "5.1.2.1.3 | PATCH | Ensure systemd-journal-remote is enabled"
  when:
      - amzn2023cis_system_is_log_server
      - amzn2023cis_rule_5_1_2_1_3
  tags:
      - level1-server
      - manual
      - patch
      - journald
      - rule_5.1.2.1.3
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-12
      - NIST800-53R5_SI-5
      - NIST800-53R5_CM-7
  ansible.builtin.systemd:
      name: systemd-journal-upload
      state: started
      enabled: true

- name: "5.1.2.1.4 | PATCH | Ensure journald is not configured to receive logs from a remote client"
  when:
      - not amzn2023cis_system_is_log_server
      - amzn2023cis_rule_5_1_2_1_4
  tags:
      - level1-server
      - patch
      - journald
      - rule_5.1.2.1.4
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-12
      - NIST800-53R5_SI-5
      - NIST800-53R5_CM-7
  ansible.builtin.systemd:
      name: systemd-journal-remote.socket
      state: stopped
      enabled: false
      masked: true

- name: "5.1.2.2 | PATCH | Ensure journald service is enabled"
  when: amzn2023cis_rule_5_1_2_2
  vars:
      warn_control_id: '5.1.2.2'
  tags:
      - level1-server
      - audit
      - journald
      - rule_5.1.2.2
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-7
      - NIST800-53R5_AU-12
  block:
      - name: "5.1.2.2 | PATCH | Ensure journald service is enabled | Enable service"
        ansible.builtin.systemd:
            name: systemd-journald
            state: started
            enabled: true

      - name: "5.1.2.2 | AUDIT | Ensure journald service is enabled | Capture status"  # noqa: command-instead-of-module
        ansible.builtin.command: systemctl is-enabled systemd-journald.service
        changed_when: false
        failed_when: false
        register: discovered_journald_status

      - name: "5.1.2.2 | AUDIT | Ensure journald service is enabled | Alert on bad status"
        when: "'static' not in discovered_journald_status.stdout"
        ansible.builtin.debug:
            msg:
                - "Warning!! The status of systemd-journald should be static and it is not. Please investigate"

      - name: "5.1.2.2 | AUDIT | Ensure journald service is enabled | Warn Count"
        when: "'static' not in discovered_journald_status.stdout"
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "5.1.2.3 | PATCH | Ensure journald is configured to compress large log files"
  when: amzn2023cis_rule_5_1_2_3
  tags:
      - level1-server
      - patch
      - journald
      - rule_5.1.2.3
      - NIST800-53R5_AU-4
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: "^#Compress=|^Compress="
      line: Compress=yes
  notify: Restart journald

- name: "5.1.2.4 | PATCH | Ensure journald is configured to write logfiles to persistent disk"
  when: amzn2023cis_rule_5_1_2_4
  tags:
      - level1-server
      - patch
      - journald
      - rule_5.1.2.4
      - NIST800-53R5_AU-3
      - NIST800-53R5_AU-12
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: "^#Storage=|^Storage="
      line: Storage=persistent
  notify: Restart journald

# This is counter to control 5.1.1.3??
- name: "5.1.2.5 | PATCH | Ensure journald is not configured to send logs to rsyslog"
  when: amzn2023cis_rule_5_1_2_5
  tags:
      - level1-server
      - manual
      - patch
      - journald
      - rule_5.1.2.5
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-6
      - NIST800-53R5_AU-7
      - NIST800-53R5_AU-12
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: "^ForwardToSyslog="
      line: "#ForwardToSyslog=yes"
  notify: Restart journald

- name: "5.1.2.6 | PATCH | Ensure journald log rotation is configured per site policy"
  when: amzn2023cis_rule_5_1_2_6
  tags:
      - level1-server
      - manual
      - patch
      - journald
      - rule_5.1.2.6
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-7
      - NIST800-53R5_AU-12
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
  notify: Restart journald
  loop:
      - { regexp: '^#SystemMaxUse=|^SystemMaxUse=', line: 'SystemMaxUse={{ amzn2023cis_journald_systemmaxuse }}'}
      - { regexp: '^#SystemKeepFree=|^SystemKeepFree=', line: 'SystemKeepFree={{ amzn2023cis_journald_systemkeepfree }}' }
      - { regexp: '^#RuntimeMaxUse=|^RuntimeMaxUse=', line: 'RuntimeMaxUse={{ amzn2023cis_journald_runtimemaxuse }}'}
      - { regexp: '^#RuntimeKeepFree=|^RuntimeKeepFree=', line: 'RuntimeKeepFree={{ amzn2023cis_journald_runtimekeepfree }}'}
      - { regexp: '^#MaxFileSec=|^MaxFileSec=', line: 'MaxFileSec={{ amzn2023cis_journald_maxfilesec }}'}

- name: "5.1.2.7 | AUDIT | Ensure journald default file permissions configured"
  when: amzn2023cis_rule_5_1_2_7
  tags:
      - level1-server
      - manual
      - patch
      - journald
      - rule_5.1.2.7
      - NIST800-53R5_AC-3
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-12
      - NIST800-53R5_MP-2
      - NIST800-53R5_SI-5
  block:
      - name: "5.1.2.7 | AUDIT | Ensure journald default file permissions configured | Check for override file"
        ansible.builtin.stat:
            path: /etc/tmpfiles.d/systemd.conf
        register: discovered_journald_override

      - name: "5.1.2.7 | AUDIT | Ensure journald default file permissions configured | Set live file"
        when: discovered_journald_override.stat.exists
        ansible.builtin.set_fact:
            systemd_conf_file: /etc/tmpfiles.d/systemd.conf

      - name: "5.1.2.7 | PATCH | Ensure journald default file permissions configured | Set permission"
        ansible.builtin.lineinfile:
            path: "{{ systemd_conf_file | default('/usr/lib/tmpfiles.d/systemd.conf') }}"
            regexp: '^z \/var\/log\/journal\/%m\/system.journal (!?06(0|4)0) root'
            line: 'z /var/log/journal/%m/system.journal 0640 root systemd-journal - -'
