---

- name: "6.2.1 | AUDIT | Ensure accounts in /etc/passwd use shadowed passwords"
  when: amzn2023cis_rule_6_2_1
  tags:
      - level1-server
      - patch
      - accounts
      - rule_6.2.1
      - NIST800-53R5_IA-5
  block:
      - name: "6.2.1 | AUDIT | Ensure accounts in /etc/passwd use shadowed passwords | discover"
        ansible.builtin.shell: awk -F':' '($2 != "x" ) { print $1 " is not set to shadowed passwords "}' /etc/passwd
        changed_when: false
        register: discovered_shadow_passwds

      - name: "6.2.1 | AUDIT | Ensure accounts in /etc/passwd use shadowed passwords | Output"
        when: discovered_shadow_passwds.stdout | length > 0
        ansible.builtin.debug:
            msg: |
                - "Warning!! Below are the accounts that do not have shadowed passwords set"
                - "{{ discovered_shadow_passwds.stdout_line }}"

      - name: "6.2.1 | AUDIT | Ensure accounts in /etc/passwd use shadowed passwords | warning fact"
        when: discovered_shadow_passwds.stdout | length >= 1
        ansible.builtin.import_tasks:
            file: warning_facts.yml
        vars:
            warn_control_id: '6.2.1'

- name: "6.2.2 | PATCH | Ensure password fields are not empty"
  when:
      - prelim_empty_password_accounts.rc
      - amzn2023cis_rule_6_2_2
  tags:
      - level1-server
      - patch
      - accounts
      - rule_6.2.2
      - NIST800-53R5_IA-5
  ansible.builtin.command: passwd -l {{ item }}
  changed_when: false
  failed_when: false
  loop: "{{ prelim_empty_password_accounts.stdout_lines }}"

- name: "6.2.3 | AUDIT | Ensure all groups in /etc/passwd exist in /etc/group"
  when: amzn2023cis_rule_6_2_3
  tags:
      - level1-server
      - audit
      - accounts
      - groups
      - rule_6.2.3
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  vars:
      warn_control_id: '6.2.3'
  block:
      - name: "6.2.3 | AUDIT | Ensure all groups in /etc/passwd exist in /etc/group | Check /etc/passwd entries"
        ansible.builtin.shell: pwck -r | grep 'no group' | awk '{ gsub("[:\47]",""); print $2}'
        changed_when: false
        failed_when: false
        check_mode: false
        register: discovered_passwd_gid_check

      - name: "6.2.3 | AUDIT | Ensure all groups in /etc/passwd exist in /etc/group | Print warning about users with invalid GIDs missing GID entries in /etc/group"
        when: discovered_passwd_gid_check.stdout | length >= 1
        ansible.builtin.debug:
            msg: "Warning!! The following users have non-existent GIDs (Groups): {{ discovered_passwd_gid_check.stdout_lines | join(', ') }}"

      - name: "6.2.3 | AUDIT | Ensure all groups in /etc/passwd exist in /etc/group | warning count"
        when: discovered_passwd_gid_check.stdout | length >= 1
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "6.2.4 | AUDIT | Ensure no duplicate UIDs exist"
  when:
      - amzn2023cis_rule_6_2_4
  tags:
      - level1-server
      - audit
      - accounts
      - users
      - rule_6.2.4
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  vars:
      warn_control_id: '6.2.4'
  block:
      - name: "6.2.4 | AUDIT | Ensure no duplicate UIDs exist | Check for duplicate UIDs"
        ansible.builtin.shell: "pwck -r | awk -F: '{if ($3 in uid) print $1 ; else uid[$3]}' /etc/passwd"
        changed_when: false
        failed_when: false
        register: discovered_user_uid_check

      - name: "6.2.4 | AUDIT | Ensure no duplicate UIDs exist | Print warning about users with duplicate UIDs"
        when: discovered_user_uid_check.stdout | length >= 1
        ansible.builtin.debug:
            msg: "Warning!! The following users have UIDs that are duplicates: {{ discovered_user_uid_check.stdout_lines }}"

      - name: "6.2.4 | AUDIT| Ensure no duplicate UIDs exist | warning count"
        when: discovered_user_uid_check.stdout | length >= 1
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "6.2.5 | AUDIT | Ensure no duplicate GIDs exist"
  when: amzn2023cis_rule_6_2_5
  tags:
      - level1-server
      - audit
      - accounts
      - groups
      - rule_6.2.5
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  vars:
      warn_control_id: '6.2.5'
  block:
      - name: "6.2.5 | AUDIT | Ensure no duplicate GIDs exist | Check for duplicate GIDs"
        ansible.builtin.shell: "pwck -r | awk -F: '{if ($3 in users) print $1 ; else users[$3]}' /etc/group"
        changed_when: false
        failed_when: false
        register: discovered_dup_gid_check

      - name: "6.2.5 | AUDIT | Ensure no duplicate GIDs exist | Print warning about users with duplicate GIDs"
        when: discovered_dup_gid_check.stdout | length >= 1
        ansible.builtin.debug:
            msg: "Warning!! The following groups have duplicate GIDs: {{ discovered_dup_gid_check.stdout_lines }}"

      - name: "6.2.5 | AUDIT | Ensure no duplicate GIDs exist | warning count"
        when: discovered_dup_gid_check.stdout_lines | length >= 1
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "6.2.6 | AUDIT | Ensure no duplicate user names exist"
  when: amzn2023cis_rule_6_2_6
  tags:
      - level1-server
      - audit
      - accounts
      - users
      - rule_6.2.6
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  vars:
      warn_control_id: '6.2.6'
  block:
      - name: "6.2.6 | AUDIT | Ensure no duplicate user names exist | Check for duplicate User Names"
        ansible.builtin.shell: "pwck -r | awk -F: '{if ($1 in users) print $1 ; else users[$1]}' /etc/passwd"
        changed_when: false
        failed_when: false
        register: discovered_dup_username_check

      - name: "6.2.6 | AUDIT | Ensure no duplicate user names exist | Print warning about users with duplicate User Names"
        when: discovered_dup_username_check.stdout | length >= 1
        ansible.builtin.debug:
            msg: "Warning!! The following user names are duplicates: {{ discovered_dup_username_check.stdout_lines }}"

      - name: "6.2.6 | AUDIT | Ensure no duplicate user names exist | warning count"
        when: discovered_dup_username_check.stdout | length >= 1
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "6.2.7 | AUDIT | Ensure no duplicate group names exist"
  when: amzn2023cis_rule_6_2_7
  tags:
      - level1-server
      - audit
      - accounts
      - groups
      - rule_6.2.7
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  vars:
      warn_control_id: '6.2.7'
  block:
      - name: "6.2.7 | AUDIT | Ensure no duplicate group names exist | Check for duplicate group names"
        ansible.builtin.shell: 'getent passwd | cut -d: -f1 | sort -n | uniq -d'
        changed_when: false
        failed_when: false
        check_mode: false
        register: discovered_dup_group_check

      - name: "6.2.7 | AUDIT | Ensure no duplicate group names exist | Print warning about users with duplicate group names"
        when: discovered_dup_group_check.stdout is not defined
        ansible.builtin.debug:
            msg: "Warning!! The following group names are duplicates: {{ discovered_dup_group_check.stdout_lines }}"

      - name: "6.2.7 | AUDIT | Ensure no duplicate group names exist | warning count"
        when: discovered_dup_group_check.stdout is not defined
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "6.2.8 | PATCH | Ensure root PATH Integrity"
  when: amzn2023cis_rule_6_2_8
  tags:
      - level1-server
      - patch
      - paths
      - rule_6.2.8
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  block:
      - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Get root paths"
        ansible.builtin.shell: sudo -Hiu root env | grep '^PATH' | cut -d= -f2
        changed_when: false
        register: discovered_root_paths

      - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Get root paths"
        ansible.builtin.shell: sudo -Hiu root env | grep '^PATH' | cut -d= -f2 | tr ":" "\n"
        changed_when: false
        register: discovered_root_paths_split

      - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Set fact"
        ansible.builtin.set_fact:
            root_paths: "{{ discovered_root_paths.stdout }}"

      - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Check for empty dirs"
        ansible.builtin.shell: 'echo {{ root_paths }} | grep -q "::" && echo "roots path contains a empty directory (::)"'
        changed_when: false
        failed_when: discovered_empty_root_paths.rc not in [ 0, 1 ]
        register: discovered_empty_root_paths

      - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Check for trailing ':'"
        ansible.builtin.shell: '{{ root_paths }} | cut -d= -f2 | grep -q ":$" && echo "roots path contains a trailing (:)"'
        changed_when: false
        failed_when: discovered_root_path_trailing_colon.rc not in [ 0, 1 ]
        register: discovered_root_path_trailing_colon

      - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Check for owner and permissions"
        block:
            - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Check for owner and permissions"
              ansible.builtin.stat:
                  path: "{{ item }}"
              register: root_path_perms
              loop: "{{ discovered_root_paths_split.stdout_lines }}"

            - name: "6.2.8 | AUDIT | Ensure root PATH Integrity | Set permissions"
              when:
                  - item.stat.exists
                  - item.stat.isdir
                  - item.stat.pw_name != 'root' or item.stat.gr_name != 'root' or item.stat.woth or item.stat.wgrp
              ansible.builtin.file:
                  path: "{{ item.stat.path }}"
                  state: directory
                  owner: root
                  group: root
                  mode: 'u+x,go-w'
                  follow: false
              loop: "{{ root_path_perms.results }}"
              loop_control:
                  label: "{{ item }}"

- name: "6.2.9 | PATCH | Ensure root is the only UID 0 account"
  when:
      - prelim_uid_zero_accounts_except_root.rc
      - amzn2023cis_rule_6_2_9
  tags:
      - level1-server
      - patch
      - accounts
      - users
      - rule_6.2.9
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  ansible.builtin.command: passwd -l {{ item }}
  changed_when: false
  failed_when: false
  loop: "{{ prelim_uid_zero_accounts_except_root.stdout_lines }}"

- name: "6.2.10 | PATCH | Ensure local interactive user home directories exist"
  when: amzn2023cis_rule_6_2_10
  tags:
      - level1-server
      - patch
      - users
      - rule_6.2.10
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  block:
      - name: "6.2.10 | PATCH | Ensure local interactive user home directories exist | Create dir if absent"
        ansible.builtin.file:
            path: "{{ item.dir }}"
            state: directory
            owner: "{{ item.id }}"
            group: "{{ item.gid }}"
        register: discovered_home_dirs
        loop: "{{ amzn2023cis_passwd | selectattr('uid', '>=', min_int_uid | int) | selectattr('uid', '<=', max_int_uid | int) | list }}"
        loop_control:
            label: "{{ item.id }}"

      # set default ACLs so the homedir has an effective umask of 0027
      - name: "6.2.10 | PATCH | Ensure local interactive user home directories exist | Set group ACL"
        when: not system_is_container
        ansible.posix.acl:
            path: "{{ item }}"
            default: true
            etype: group
            permissions: rx
            state: present
        loop: "{{ prelim_interactive_users_home.stdout_lines }}"

      - name: "6.2.10 | PATCH | Ensure local interactive user home directories exist | Set other ACL"
        when: not system_is_container
        ansible.posix.acl:
            path: "{{ item }}"
            default: true
            etype: other
            permissions: 0
            state: present
        loop: "{{ prelim_interactive_users_home.stdout_lines }}"

- name: "6.2.11 | PATCH | Ensure local interactive user dot files access is configured"
  when: amzn2023cis_rule_6_2_11
  tags:
      - level1-server
      - patch
      - users
      - permissions
      - rule_6.2.11
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  block:
      - name: "6.2.11 | AUDIT | Ensure local interactive user dot files access is configured | Check for files"
        ansible.builtin.find:
            path: /home
            depth: 3
            patterns: ".*"
            hidden: true
            recurse: true
            file_type: file
        register: discovered_user_dot_files

      - name: "6.2.11 | AUDIT | Ensure local interactive user dot files access is configured | update permissions"
        ansible.builtin.file:
            path: "{{ item.path }}"
            mode: 'go-w'
            follow: "{{ amzn2023cis_6_2_11_home_follow_symlinks }}"
        loop: "{{ discovered_user_dot_files.files }}"
        loop_control:
            label: "{{ item.path }}"

      - name: "6.2.11 | AUDIT | Ensure local interactive user dot files access is configured | remove other dot file"
        when: amzn2023cis_remove_other_dot_files
        ansible.builtin.file:
            path: "{{ item }}"
            state: absent
        loop:
            - "{{ prelim_interactive_users_home.stdout_lines }}/.netrc"
            - "{{ prelim_interactive_users_home.stdout_lines }}/.rhosts"
            - "{{ prelim_interactive_users_home.stdout_lines }}/.forward"
