---

- name: "6.1.1 | PATCH | Ensure permissions on /etc/passwd are configured"
  when: amzn2023cis_rule_6_1_1
  tags:
      - level1-server
      - patch
      - permissions
      - rule_6.1.1
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/passwd
      owner: root
      group: root
      mode: 'u-x,go-wx'

- name: "6.1.2 | PATCH | Ensure permissions on /etc/passwd- are configured"
  when: amzn2023cis_rule_6_1_2
  tags:
      - level1-server
      - patch
      - permissions
      - rule_6.1.2
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/passwd-
      owner: root
      group: root
      mode: 'u-x,go-wx'

- name: "6.1.3 | PATCH | Ensure permissions on /etc/group are configured"
  when: amzn2023cis_rule_6_1_3
  tags:
      - level1-server
      - patch
      - permissions
      - rule_6.1.3
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/group-
      owner: root
      group: root
      mode: 'u-x,go-wx'

- name: "6.1.4 | PATCH | Ensure permissions on /etc/group- are configured"
  when: amzn2023cis_rule_6_1_4
  tags:
      - level1-server
      - patch
      - permissionss
      - rule_6.1.4
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/group-
      owner: root
      group: root
      mode: 'u-x,go-wx'

- name: "6.1.5 | PATCH | Ensure permissions on /etc/shadow are configured"
  when: amzn2023cis_rule_6_1_5
  tags:
      - level1-server
      - patch
      - permissions
      - rule_6.1.5
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/shadow
      owner: root
      group: root
      mode: 'ugo-rwx'

- name: "6.1.6 | PATCH | Ensure permissions on /etc/shadow- are configured"
  when: amzn2023cis_rule_6_1_6
  tags:
      - level1-server
      - patch
      - permissions
      - rule_6.1.6
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/shadow-
      owner: root
      group: root
      mode: 'ugo-rwx'

- name: "6.1.7 | PATCH | Ensure permissions on /etc/gshadow are configured"
  when: amzn2023cis_rule_6_1_7
  tags:
      - level1-server
      - patch
      - permissions
      - rule_6.1.7
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/gshadow
      owner: root
      group: root
      mode: 'ugo-rwx'

- name: "6.1.8 | PATCH | Ensure permissions on /etc/gshadow- are configured"
  when: amzn2023cis_rule_6_1_8
  tags:
      - level1-server
      - patch
      - permissions
      - rule_6.1.8
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  ansible.builtin.file:
      path: /etc/gshadow-
      owner: root
      group: root
      mode: 'ugo-rwx'

- name: "6.1.9 | AUDIT | Audit system file permissions"
  block:
      - name: "6.1.9 | AUDIT | Audit system file permissions | Audit the packages"  # noqa: command-instead-of-module
        ansible.builtin.command: rpm -Va --nomtime --nosize --nomd5 --nolinkto
        changed_when: false
        failed_when: false
        register: discovered_packages_rpm

      - name: "6.1.9 | AUDIT | Audit system file permissions | Create list and warning"
        when: amzn2023cis_rule_6_1_9
        tags:
            - level2-server
            - manual
            - audit
            - permissions
            - rule_6.1.9
            - NIST800-53R5_CM-1
            - NIST800-53R5_CM-2
            - NIST800-53R5_CM-6
            - NIST800-53R5_CM-7
            - NIST800-53R5_IA-5
            - NIST800-53R5_AC-3
            - NIST800-53R5_MP-2
        block:
            - name: "6.1.9 | AUDIT | Audit system file permissions | Add file discrepancy list to system"
              ansible.builtin.copy:
                  dest: "{{ amzn2023cis_rpm_audit_file }}"  # noqa template-instead-of-copy
                  content: "{{ discovered_packages_rpm.stdout }}"
                  owner: root
                  group: root
                  mode: 'u-x,g-wx,o-rwx'

            - name: "6.1.9 | AUDIT | Audit system file permissions | Message out alert for package descrepancies"
              ansible.builtin.debug:
                  msg: |
                     "Warning!! You have some package descrepancies issues.
                      The file list can be found in {{ amzn2023cis_rpm_audit_file }}"

            - name: "6.1.9 | AUDIT | Audit system file permissions | warning count"
              when: discovered_packages_rpm.stdout|length > 0
              ansible.builtin.import_tasks:
                  file: warning_facts.yml
              vars:
                  warn_control_id: '6.1.9'

- name: "6.1.10 | PATCH | Ensure world writable files and directories are secured"
  when: amzn2023cis_rule_6_1_10
  tags:
      - level1-server
      - patch
      - files
      - permissions
      - stickybits
      - rule_6.1.10
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  block:
      - name: "6.1.10 | AUDIT | Ensure world writable files and directories are secured | Get list of world-writable files"
        ansible.builtin.shell: df --local -P | awk {'if (NR!=1) print $6'} | xargs -I '{}' find \( ! -path "*/containerd/*" -a ! -path "*/kubelet/pods/*" -a ! -path "/snap/*" \) -xdev -type f -perm -0002
        failed_when: false
        changed_when: false
        register: discovered_perms_results

      - name: "6.1.10 | PATCH | Ensure world writable files and directories are secured | Adjust world-writable files if they exist (Configurable)"
        ansible.builtin.file:
            path: '{{ item }}'
            mode: 'o-w'
            state: touch
        loop: "{{ discovered_perms_results.stdout_lines }}"
        when:
            - discovered_perms_results.stdout_lines is defined
            - amzn2023cis_no_world_write_adjust

      - name: "6.1.10 | PATCH | Ensure sticky bit is set on all world-writable directories"
        ansible.builtin.shell: df --local -P | awk {'if (NR!=1) print $6'} | xargs -I '{}' find '{}' -xdev -type d -perm -0002 2>/dev/null | xargs chmod a+t
        changed_when: false
        failed_when: false

- name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist"
  when: amzn2023cis_rule_6_1_11
  tags:
      - level1-server
      - audit
      - files
      - permissions
      - rule_6.1.11
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  vars:
      discovered_unowned_files_found: false
      discovered_ungrouped_files_found: false
  block:
      - name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist | Finding all unowned files or directories"
        ansible.builtin.command: find {{ item.mount }} -xdev -nouser -not -fstype nfs
        changed_when: false
        failed_when: false
        check_mode: false
        register: discovered_audit_unowned_grouped
        loop: "{{ ansible_facts.mounts }}"
        loop_control:
            label: "{{ item.mount }}"
        when:
            - item['device'].startswith('/dev')
            - not 'bind' in item['options']

      - name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist | set fact unowned"
        when:
            - item | length > 0
            - item.stdout is defined  # skipped items are part of results list, but don't have the registered module properties
            - item.stdout | length > 0
        ansible.builtin.set_fact:
            discovered_unowned_files_found: true
        loop: "{{ discovered_audit_unowned_grouped.results }}"

      - name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist | Displaying any unowned files or directories"
        ansible.builtin.debug:
            msg: "Warning!! Missing owner on items in {{ discovered_audit_unowned_grouped.results | map(attribute='stdout_lines', default=[]) | flatten }}"  # noqa jinja[invalid]
        when: discovered_unowned_files_found

      - name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist | Finding all ungrouped files or directories"
        when:
            - item['device'].startswith('/dev')
            - not 'bind' in item['options']
        ansible.builtin.command: find {{ item.mount }} -xdev -nogroup -not -fstype nfs
        check_mode: false
        failed_when: false
        changed_when: false
        register: discovered_audit_unowned_grouped
        loop: "{{ ansible_facts.mounts }}"
        loop_control:
            label: "{{ item.mount }}"

      - name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist | set fact un grouped"
        when:
            - item | length > 0
            - item.stdout is defined  # skipped items are part of results list, but don't have the registered module properties
            - item.stdout | length > 0
        ansible.builtin.set_fact:
            discovered_ungrouped_files_found: true
        loop: "{{ discovered_audit_unowned_grouped.results }}"

      - name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist | Displaying all ungrouped files or directories"
        when: discovered_ungrouped_files_found
        ansible.builtin.debug:
            msg: "Warning!! Missing group on items in {{ discovered_audit_unowned_grouped.results | map(attribute='stdout_lines', default=[]) | flatten }}"  # noqa jinja[invalid]

      - name: "6.1.11 | AUDIT | Ensure no unowned or ungrouped files or directories exist | warning"
        when: discovered_unowned_files_found or discovered_ungrouped_files_found
        ansible.builtin.import_tasks:
            file: warning_facts.yml
        vars:
            warn_control_id: '6.1.11'

- name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed"
  when: amzn2023cis_rule_6_1_12
  tags:
      - level1-server
      - manual
      - audit
      - files
      - rule_6.1.12
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
      - NIST800-53R5_AC-3
      - NIST800-53R5_MP-2
  vars:
      discovered_suid_found: false
      discovered_sgid_found: false
  block:
      - name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed | Find all SUID executables"
        ansible.builtin.shell: df {{ item.mount }} -P | awk {'if (NR!=1) print $6'} | xargs -I '{}' find '{}' -xdev -type f -perm -4000
        failed_when: false
        changed_when: false
        register: discovered_suid_perms
        loop: "{{ ansible_facts.mounts }}"
        loop_control:
            label: "{{ item.mount }}"

      - name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed | set fact SUID executables"
        when:
            - item | length > 0
            - item.stdout is defined  # skipped items are part of results list, but don't have the registered module properties
            - item.stdout | length > 0
        ansible.builtin.set_fact:
            discovered_suid_found: true
        loop: "{{ discovered_suid_perms.results }}"

      - name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed | Alert SUID exist"
        when: discovered_suid_found
        ansible.builtin.debug:
            msg: "Warning!! SUID set on items in {{ discovered_suid_perms.results | map(attribute='stdout_lines') | flatten }}"  # noqa jinja[invalid]

      - name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed | Find all SGID executables"
        ansible.builtin.shell: df {{ item.mount }} -P | awk {'if (NR!=1) print $6'} | xargs -I '{}' find '{}' -xdev -type f -perm -2000
        failed_when: false
        changed_when: false
        register: discovered_sgid_perms
        loop: "{{ ansible_facts.mounts }}"
        loop_control:
            label: "{{ item.mount }}"

      - name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed | Set fact SGID executables"
        when:
            - item | length > 0
            - item.stdout is defined  # skipped items are part of results list, but don't have the registered module properties
            - item.stdout | length > 0
        ansible.builtin.set_fact:
            discovered_sgid_found: true
        loop: "{{ discovered_sgid_perms.results }}"

      - name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed | Alert SGID exist"
        ansible.builtin.debug:
            msg: "Warning!! SGID set on items in {{ discovered_sgid_perms.results | map(attribute='stdout_lines') | flatten }}"  # noqa jinja[invalid]
        when: discovered_sgid_found

      - name: "6.1.12 | AUDIT | Ensure SUID and SGID files are reviewed | Alert SUID/SGID exist | warning"
        when: discovered_suid_found or discovered_sgid_found
        ansible.builtin.import_tasks:
            file: warning_facts.yml
        vars:
            warn_control_id: '6.1.12'
