---

- name: "2.1.1 | PATCH | Ensure time synchronization is in use"
  ansible.builtin.package:
      name: chrony
      state: present
  when:
      - amzn2023cis_rule_2_1_1
      - not system_is_container
  tags:
      - level1-server
      - patch
      - rule_2.1.1
      - nist_sp800-53r5_AU-3
      - nist_sp800-53r5_AU-12

- name: "2.1.2 | PATCH | Ensure chrony is configured"
  block:
      - name: "2.1.2 | PATCH | Ensure chrony is configured | Set configuration"
        ansible.builtin.template:
            src: etc/chrony.conf.j2
            dest: /etc/chrony.d/chrony.conf
            owner: root
            group: root
            mode: '0644'

      - name: "2.1.2 | PATCH | Ensure chrony is configured | modify /etc/sysconfig/chronyd | 1"
        ansible.builtin.lineinfile:
            path: /etc/sysconfig/chronyd
            regexp: "^(#)?OPTIONS"
            line: "OPTIONS=\"-u chrony\""
            create: true
            mode: '0644'
  when:
      - amzn2023cis_rule_2_1_2
      - not system_is_container
  tags:
      - level1-server
      - patch
      - rule_2.1.2
      - nist_sp800-53r5_AU-3
      - nist_sp800-53r5_AU-12
