---

- name: "1.1.1.1 | PATCH | Ensure mounting of squashfs filesystems is disabled"
  block:
      - name: "1.1.1.1 | PATCH | Ensure mounting of squashfs filesystems is disabled | Edit modprobe config"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install squashfs(\\s|$)"
            line: "install squashfs /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.1 | PATCH | Ensure mounting of squashfs filesystems is disabled | blacklist"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/blacklist.conf
            regexp: "^(#)?blacklist squashfs(\\s|$)"
            line: "blacklist squashfs"
            create: true
            mode: '0600'

      - name: "1.1.1.1 | PATCH | Ensure mounting of squashfs filesystems is disabled | Disable squashfs"
        community.general.modprobe:
            name: squashfs
            state: absent
        when: not system_is_container

  when:
      - amzn2023cis_rule_1_1_1_1
  tags:
      - level2-server
      - patch
      - rule_1.1.1.1
      - squashfs
      - nist_sp800-53r5_CM-7

- name: "1.1.1.2 | PATCH | Ensure mounting of udf filesystems is disabled"
  block:
      - name: "1.1.1.2 | PATCH | Ensure mounting of udf filesystems is disable | Edit modprobe config"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install udf(\\s|$)"
            line: "install udf /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.2 | PATCH | Ensure mounting of udf filesystems is disabled | blacklist"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/blacklist.conf
            regexp: "^(#)?blacklist udf(\\s|$)"
            line: "blacklist udf"
            create: true
            mode: '0600'

      - name: "1.1.1.2 | PATCH | Ensure mounting of udf filesystems is disable | Disable udf"
        community.general.modprobe:
            name: udf
            state: absent
        when: not system_is_container
  when:
      - amzn2023cis_rule_1_1_1_2
  tags:
      - level2-server
      - patch
      - rule_1.1.1.2
      - udf

- name: "1.1.1.3 | PATCH | Ensure mounting of cramfs filesystems is disabled"
  block:
      - name: "1.1.1.3 | PATCH | Ensure mounting of cramfs filesystems is disable | Edit modprobe config"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install cramfs(\\s|$)"
            line: "install cramfs /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.3 | PATCH | Ensure mounting of cramfs filesystems is disabled | blacklist"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/blacklist.conf
            regexp: "^(#)?blacklist cramfs(\\s|$)"
            line: "blacklist cramfs"
            create: true
            mode: '0600'

      - name: "1.1.1.3 | PATCH | Ensure mounting of cramfs filesystems is disable | Disable cramfs"
        community.general.modprobe:
            name: cramfs
            state: absent
        when: not system_is_container
  when:
      - amzn2023cis_rule_1_1_1_3
  tags:
      - level2-server
      - patch
      - rule_1.1.1.3
      - cramfs
      - nist_sp800-53r5_CM-7

- name: "1.1.1.4 | PATCH | Ensure mounting of freevxfs filesystems is disabled"
  block:
      - name: "1.1.1.4 | PATCH | Ensure mounting of freevxfs filesystems is disable | Edit modprobe config"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install freevxfs(\\s|$)"
            line: "install freevxfs /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.4 | PATCH | Ensure mounting of freevxfs filesystems is disabled | blacklist"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/blacklist.conf
            regexp: "^(#)?blacklist freevxfs(\\s|$)"
            line: "blacklist freevxfs"
            create: true
            mode: '0600'

      - name: "1.1.1.4 | PATCH | Ensure mounting of freevxfs filesystems is disable | Disable freevxfs"
        community.general.modprobe:
            name: freevxfs
            state: absent
        when: not system_is_container
  when:
      - amzn2023cis_rule_1_1_1_4
  tags:
      - level1-server
      - patch
      - rule_1.1.1.4
      - freevxfs
      - nist_sp800-53r5_CM-7

- name: "1.1.1.5 | PATCH | Ensure mounting of jffs2 filesystems is disabled"
  block:
      - name: "1.1.1.5 | PATCH | Ensure mounting of jffs2 filesystems is disable | Edit modprobe config"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install jffs2(\\s|$)"
            line: "install jffs2 /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.5 | PATCH | Ensure mounting of jffs2 filesystems is disabled | blacklist"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/blacklist.conf
            regexp: "^(#)?blacklist jffs2(\\s|$)"
            line: "blacklist jffs2"
            create: true
            mode: '0600'

      - name: "1.1.1.5 | PATCH | Ensure mounting of jffs2 filesystems is disable | Disable jffs2"
        community.general.modprobe:
            name: jffs2
            state: absent
        when: not system_is_container
  when:
      - amzn2023cis_rule_1_1_1_5
  tags:
      - level1-server
      - patch
      - rule_1.1.1.5
      - jffs2
      - nist_sp800-53r5_CM-7

- name: "1.1.1.6 | PATCH | Ensure mounting of hfs filesystems is disabled"
  block:
      - name: "1.1.1.6 | PATCH | Ensure mounting of hfs filesystems is disable | Edit modprobe config"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install hfs(\\s|$)"
            line: "install hfs /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.6 | PATCH | Ensure mounting of hfs filesystems is disabled | blacklist"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/blacklist.conf
            regexp: "^(#)?blacklist hfs(\\s|$)"
            line: "blacklist hfs"
            create: true
            mode: '0600'

      - name: "1.1.1.6 | PATCH | Ensure mounting of hfs filesystems is disable | Disable hfs"
        community.general.modprobe:
            name: hfs
            state: absent
        when: not system_is_container
  when:
      - amzn2023cis_rule_1_1_1_6
  tags:
      - level1-server
      - patch
      - rule_1.1.1.6
      - hfs
      - nist_sp800-53r5_CM-7

- name: "1.1.1.7 | PATCH | Ensure mounting of hfsplus filesystems is disabled"
  block:
      - name: "1.1.1.7 | PATCH | Ensure mounting of hfsplus filesystems is disable | Edit modprobe config"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install hfsplus(\\s|$)"
            line: "install hfsplus /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.7 | PATCH | Ensure mounting of hfsplus filesystems is disabled | blacklist"
        ansible.builtin.lineinfile:
            path: /etc/modprobe.d/blacklist.conf
            regexp: "^(#)?blacklist hfsplus(\\s|$)"
            line: "blacklist hfsplus"
            create: true
            mode: '0600'

      - name: "1.1.1.7 | PATCH | Ensure mounting of hfsplus filesystems is disable | Disable hfsplus"
        community.general.modprobe:
            name: hfsplus
            state: absent
        when: not system_is_container
  when:
      - amzn2023cis_rule_1_1_1_7
  tags:
      - level1-server
      - patch
      - rule_1.1.1.7
      - hfsplus
      - nist_sp800-53r5_CM-7
