---

- name: "1.3.1 | PATCH | Ensure AIDE is installed"
  block:
      - name: "1.3.1 | PATCH | Ensure AIDE is installed | Install AIDE"
        ansible.builtin.package:
            name: aide
            state: present

      - name: "1.3.1 | PATCH | Ensure AIDE is installed | Build AIDE DB"
        ansible.builtin.shell: /usr/sbin/aide --init
        changed_when: false
        failed_when: false
        async: 45
        poll: 0
        args:
            creates: /var/lib/aide/aide.db.new.gz
        when: not ansible_check_mode

      - name: "1.3.1 | PATCH | Ensure AIDE is installed | copy AIDE DB"
        ansible.builtin.copy:
            src: /var/lib/aide/aide.db.new.gz
            dest: /var/lib/aide/aide.db.gz
            remote_src: true
  when:
      - amzn2023cis_config_aide
      - amzn2023cis_rule_1_3_1
  tags:
      - level1-server
      - aide
      - patch
      - rule_1.3.1
      - nist_sp800-53r5_AU-2

- name: "1.3.2 | PATCH | Ensure filesystem integrity is regularly checked"
  ansible.builtin.cron:
      name: Run AIDE integrity check
      cron_file: "{{ amzn2023cis_aide_cron['cron_file'] }}"
      user: "{{ amzn2023cis_aide_cron['cron_user'] }}"
      minute: "{{ amzn2023cis_aide_cron['aide_minute'] | default('0') }}"
      hour: "{{ amzn2023cis_aide_cron['aide_hour'] | default('5') }}"
      day: "{{ amzn2023cis_aide_cron['aide_day'] | default('*') }}"
      month: "{{ amzn2023cis_aide_cron['aide_month'] | default('*') }}"
      weekday: "{{ amzn2023cis_aide_cron['aide_weekday'] | default('*') }}"
      job: "{{ amzn2023cis_aide_cron['aide_job'] }}"
  when:
      - amzn2023cis_rule_1_3_2
  tags:
      - level1-server
      - aide
      - file_integrity
      - patch
      - rule_1.3.2
      - nist_sp800-53r5_AU-2

- name: "1.3.3 | PATCH | Ensure cryptographic mechanisms are used to protect the integrity of audit tools"
  ansible.builtin.blockinfile:
      path: /etc/aide.conf
      marker: "# {mark} Audit tools - CIS benchmark - Ansible-lockdown"
      block: |
        /sbin/auditctl p+i+n+u+g+s+b+acl+xattrs+sha512
        /sbin/auditd p+i+n+u+g+s+b+acl+xattrs+sha512
        /sbin/augenrules p+i+n+u+g+s+b+acl+xattrs+sha512
        /sbin/aureport p+i+n+u+g+s+b+acl+xattrs+sha512
        /sbin/ausearch p+i+n+u+g+s+b+acl+xattrs+sha512
        /sbin/autrace p+i+n+u+g+s+b+acl+xattrs+sha512
      validate: aide -D --config %s
  when:
      - amzn2023cis_rule_1_3_3
  tags:
      - level1-server
      - aide
      - file_integrity
      - patch
      - rule_1.3.3
      - nist_sp800-53r5_AU-2
