---

- name: "4.2.1 | PATCH | Ensure permissions on /etc/ssh/sshd_config are configured"
  ansible.builtin.file:
      path: "/etc/ssh/sshd_config"
      owner: root
      group: root
      mode: '0600'
  when:
      - amzn2023cis_rule_4_2_1
  tags:
      - level1-server
      - patch
      - ssh
      - permissions
      - rule_4.2.1
      - nist_sp800-53r5_AC-3
      - nist_sp800-53r5_MP-2

- name: "4.2.2 | PATCH | Ensure permissions on SSH private host key files are configured"
  block:
      - name: "4.2.2 | AUDIT | Ensure permissions on SSH private host key files are configured | Find the SSH private host keys"
        ansible.builtin.find:
            paths: /etc/ssh
            patterns: 'ssh_host_*_key'
            recurse: true
            file_type: any
        register: amzn2023cis_4_2_2_ssh_private_host_key

      - name: "4.2.2 | PATCH | Ensure permissions on SSH private host key files are configured | Set permissions on SSH private host keys"
        ansible.builtin.file:
            path: "{{ item.path }}"
            owner: root
            group: root
            mode: '0600'
        loop: "{{ amzn2023cis_4_2_2_ssh_private_host_key.files }}"
        loop_control:
            label: "{{ item.path }}"
  when:
      - amzn2023cis_rule_4_2_2
  tags:
      - level1-server
      - patch
      - ssh
      - permissions
      - rule_4.2.2
      - nist_sp800-53r5_AC-3
      - nist_sp800-53r5_MP-2

- name: "4.2.3 | PATCH | Ensure permissions on SSH public host key files are configured"
  block:
      - name: "4.2.3 | AUDIT | Ensure permissions on SSH public host key files are configured | Find the SSH public host keys"
        ansible.builtin.find:
            paths: /etc/ssh
            patterns: 'ssh_host_*_key.pub'
            recurse: true
            file_type: any
        register: amzn2023cis_4_2_3_ssh_public_host_key

      - name: "4.2.3 | PATCH | Ensure permissions on SSH public host key files are configured | Set permissions on SSH public host keys"
        ansible.builtin.file:
            path: "{{ item.path }}"
            owner: root
            group: root
            mode: '0644'
        loop: "{{ amzn2023cis_4_2_3_ssh_public_host_key.files }}"
        loop_control:
            label: "{{ item.path }}"
  when:
      - amzn2023cis_rule_4_2_3
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.3
      - nist_sp800-53r5_AC-3
      - nist_sp800-53r5_MP-2

- name: "4.2.4 | PATCH | Ensure SSH access is limited"
  block:
      - name: "4.2.4 | PATCH | Ensure SSH access is limited | Add line to sshd_config for allowusers"
        ansible.builtin.lineinfile:
            path: "{{ amzn2023cis_sshd_config_file }}"
            regexp: "^AllowUsers"
            line: "AllowUsers {{ amzn2023cis_sshd['allowusers'] }}"
            validate: sshd -t -f %s
        notify: Restart sshd
        when: "amzn2023cis_sshd['allowusers']|default('') | length > 0"

      - name: "4.2.4 | PATCH | Ensure SSH access is limited | Add line to sshd_config for allowgroups"
        ansible.builtin.lineinfile:
            path: "{{ amzn2023cis_sshd_config_file }}"
            regexp: "^AllowGroups"
            line: "AllowGroups {{ amzn2023cis_sshd['allowgroups'] }}"
            validate: sshd -t -f %s
        notify: Restart sshd
        when: "amzn2023cis_sshd['allowgroups']|default('') | length > 0"

      - name: "4.2.4 | PATCH | Ensure SSH access is limited | Add line to sshd_config for denyusers"
        ansible.builtin.lineinfile:
            path: "{{ amzn2023cis_sshd_config_file }}"
            regexp: "^DenyUsers"
            line: "DenyUsers {{ amzn2023cis_sshd['denyusers'] }}"
            validate: sshd -t -f %s
        notify: Restart sshd
        when: "amzn2023cis_sshd['denyusers']|default('') | length > 0"

      - name: "4.2.4 | PATCH | Ensure SSH access is limited | Add line to sshd_config for denygroups"
        ansible.builtin.lineinfile:
            path: "{{ amzn2023cis_sshd_config_file }}"
            regexp: "^DenyGroups"
            line: "DenyGroups {{ amzn2023cis_sshd['denygroups'] }}"
            validate: sshd -t -f %s
        notify: Restart sshd
        when: "amzn2023cis_sshd['denygroups']|default('') | length > 0"
  when:
      - amzn2023cis_rule_4_2_4
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.4
      - nist_sp800-53r5_AC-3
      - nist_sp800-53r5_MP-2

- name: "4.2.5 | PATCH | Ensure SSH LogLevel is appropriate"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#LogLevel|^LogLevel"
      line: 'LogLevel {{ amzn2023cis_ssh_loglevel }}'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_5
  tags:
      - level1-server
      - patch
      - sshs
      - rule_4.2.5
      - nist_sp800-53r5_AU-2
      - nist_sp800-53r5_AU-12
      - nist_sp800-53r5_SI-5

- name: "4.2.6 | PATCH | Ensure SSH PAM is enabled"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#UsePAM|^UsePAM"
      line: 'UsePAM yes'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_6
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.6
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.7 | PATCH | Ensure SSH root login is disabled"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#PermitRootLogin|^PermitRootLogin"
      line: 'PermitRootLogin no'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_7
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.7
      - nist_sp800-53r5_AC-6

- name: "4.2.8 | PATCH | Ensure SSH HostbasedAuthentication is disabled"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#HostbasedAuthentication|^HostbasedAuthentication"
      line: 'HostbasedAuthentication no'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_8
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.8
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.9 | PATCH | Ensure SSH PermitEmptyPasswords is disabled"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#PermitEmptyPasswords|^PermitEmptyPasswords"
      line: 'PermitEmptyPasswords no'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_9
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.9
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.10 | PATCH | Ensure SSH PermitUserEnvironment is disabled"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#PermitUserEnvironment|^PermitUserEnvironment"
      line: 'PermitUserEnvironment no'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_10
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.10
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.11 | PATCH | Ensure SSH IgnoreRhosts is enabled"
  ansible.builtin.lineinfile:
      path: "{{ amzn2023cis_sshd_config_file }}"
      regexp: "^#IgnoreRhosts|^IgnoreRhosts"
      line: 'IgnoreRhosts yes'
      validate: sshd -t -f %s
  when:
      - amzn2023cis_rule_4_2_11
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.11
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.12 | PATCH | Ensure SSH X11 forwarding is disabled"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#X11Forwarding|^X11Forwarding"
      line: 'X11Forwarding no'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_12
  tags:
      - level2-server
      - patch
      - ssh
      - rule_4.2.12
      - nist_sp800-53r5_CM-7

- name: "4.2.13 | PATCH | Ensure SSH AllowTcpForwarding is disabled"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#AllowTcpForwarding|^AllowTcpForwarding"
      line: 'AllowTcpForwarding no'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_13
  tags:
      - level2-server
      - patch
      - ssh
      - rule_4.2.13
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.14 | PATCH | Ensure system-wide crypto policy is not over-ridden"
  block:
      - name: "4.2.14 | AUDIT | Ensure system-wide crypto policy is not over-ridden"
        ansible.builtin.shell: grep -i '^\s*CRYPTO_POLICY=' /etc/sysconfig/sshd
        changed_when: false
        failed_when: ( ssh_crypto_discovery.rc not in [ 0, 1 ] )
        register: ssh_crypto_discovery

      - name: "4.2.14 | PATCH | Ensure system-wide crypto policy is not over-ridden"
        ansible.builtin.shell: sed -ri "s/^\s*(CRYPTO_POLICY\s*=.*)$/# \1/" /etc/sysconfig/sshd
        notify: Restart sshd
        when: ssh_crypto_discovery.stdout | length > 0
  when:
      - amzn2023cis_rule_4_2_14
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.14
      - nist_sp800-53r5_SC-8
      - nist_sp800-53r5_AC-17
      - nist_sp800-53r5_IA-5

- name: "4.2.15 | PATCH | Ensure SSH warning banner is configured"
  ansible.builtin.lineinfile:
      path: "{{ amzn2023cis_sshd_config_file }}"
      regexp: '^Banner'
      line: 'Banner /etc/issue.net'
  when:
      - amzn2023cis_rule_4_2_15
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.15
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.16 | PATCH | Ensure SSH MaxAuthTries is set to 4 or less"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: '^(#)?MaxAuthTries \d'
      line: 'MaxAuthTries {{ amzn2023cis_ssh_maxauthtries }}'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_16
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.16
      - nist_sp800-53r5_AU-3

- name: "4.2.17 | PATCH | Ensure SSH MaxStartups is configured"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#MaxStartups|^MaxStartups"
      line: 'MaxStartups 10:30:60'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_17
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.17
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.18 | PATCH | Ensure SSH MaxSessions is set to 10 or less"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#MaxSessions|^MaxSessions"
      line: 'MaxSessions {{ amzn2023cis_ssh_maxsessions }}'
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_18
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.18
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5

- name: "4.2.19 | PATCH | Ensure SSH LoginGraceTime is set to one minute or less"
  ansible.builtin.lineinfile:
      path: "{{ item.path }}"
      regexp: "^#LoginGraceTime|^LoginGraceTime"
      line: "LoginGraceTime {{ amzn2023cis_sshd['logingracetime'] }}"
      validate: sshd -t -f %s
  with_items:
      - "{{ sshd_d_conf_files.files }}"
      - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_19
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.19
      - nist_sp800-53r5_CM-6

- name: "4.2.20 | PATCH | Ensure SSH Idle Timeout Interval is configured"
  block:
      - name: "4.2.20 | PATCH | Ensure SSH Idle Timeout Interval is configured | Add line in sshd_config for ClientAliveInterval"
        ansible.builtin.lineinfile:
            path: "{{ item.path }}"
            regexp: '^ClientAliveInterval'
            line: "ClientAliveInterval {{ amzn2023cis_sshd['clientaliveinterval'] }}"
            validate: sshd -t -f %s
        with_items:
            - "{{ sshd_d_conf_files.files }}"
            - "{{ main_sshd_cfg.stat }}"

      - name: "4.2.20 | PATCH | Ensure SSH Idle Timeout Interval is configured | Ensure SSH ClientAliveCountMax set to <= 3"
        ansible.builtin.lineinfile:
            path: "{{ item.path }}"
            regexp: '^ClientAliveCountMax'
            line: "ClientAliveCountMax {{ amzn2023cis_sshd['clientalivecountmax'] }}"
            validate: sshd -t -f %s
        with_items:
            - "{{ sshd_d_conf_files.files }}"
            - "{{ main_sshd_cfg.stat }}"
  when:
      - amzn2023cis_rule_4_2_20
  tags:
      - level1-server
      - patch
      - ssh
      - rule_4.2.20
      - nist_sp800-53r5_CM-1
      - nist_sp800-53r5_CM-2
      - nist_sp800-53r5_CM-6
      - nist_sp800-53r5_CM-7
      - nist_sp800-53r5_IA-5
