---

- name: "4.4.1 | PATCH | Ensure custom authselect profile is used"
  when:
      - amzn2023cis_rule_4_4_1
      - amzn2023cis_authselect['custom_profile_name'] not in prelim_authselect_current_profile.stdout or
        prelim_authselect_current_profile.stdout is not defined
  tags:
      - level1-server
      - manual
      - patch
      - authselect
      - rule_4.4.1
      - NIST800-53R5_CA-5
  ansible.builtin.command: "/usr/bin/authselect create-profile {{ amzn2023cis_authselect['custom_profile_name'] }} -b {{ amzn2023cis_authselect['default_profile_to_copy'] }}"
  changed_when: true
  args:
      creates: "/etc/authselect/custom/{{ amzn2023cis_authselect['custom_profile_name'] }}"

- name: "4.4.2 | PATCH | Ensure authselect includes with-faillock | with auth select profile"
  when: amzn2023cis_rule_4_4_2
  tags:
      - level1-server
      - patch
      - authselect
      - rule_4.4.2
      - NIST800-53R5_CM-1
      - NIST800-53R5_CM-2
      - NIST800-53R5_CM-6
      - NIST800-53R5_CM-7
      - NIST800-53R5_IA-5
  block:
      - name: "4.4.2 | AUDIT | Ensure authselect includes with-faillock | Gather profiles and enabled features"
        ansible.builtin.shell: "authselect current | grep with-faillock"
        failed_when: false
        changed_when: false
        check_mode: false
        register: discovered_profiles_faillock

      - name: "4.4.2 | AUDIT | Ensure authselect includes with-faillock | Show profiles"
        ansible.builtin.debug:
            msg:
                - "Below are the current custom profiles"
                - "{{ discovered_profiles_faillock.stdout_lines }}"

      - name: "4.4.2 | PATCH | Ensure authselect includes with-faillock | Create custom profiles"
        when: amzn2023cis_authselect_custom_profile_select
        ansible.builtin.command: "authselect select custom/{{ amzn2023cis_authselect['custom_profile_name'] }} with-faillock {{ amzn2023cis_authselect['options'] }}"
        changed_when: true

      - name: 4.4.2 | PATCH | Ensure authselect includes with-faillock | not auth select profile"
        when:
            - amzn2023cis_add_faillock_without_authselect
            - amzn2023cis_4_4_2_risks == 'ACCEPT'
        ansible.builtin.lineinfile:
            path: "/etc/pam.d/password-auth"
            regexp: "{{ item.regexp }}"
            line: "{{ item.line }}"
            insertbefore: "{{ item.before }}"
        loop:
            - { 'regexp': '^auth\s+required\s+pam_faillock.so preauth silent deny=.*unlock_time=.*', 'line': 'auth            required       pam_faillock.so preauth silent deny={{ amzn2023cis_pam_faillock.deny }} unlock_time={{ amzn2023cis_pam_faillock.unlock_time }}', 'before':'^auth\s+sufficient\s+pam_unix.so try_first_pass'}
            - { 'regexp': '^auth\s+required\s+pam_faillock.so authfail deny=.*unlock_time=.*', 'line': 'auth            required       pam_faillock.so authfail deny={{ amzn2023cis_pam_faillock.deny }} unlock_time={{ amzn2023cis_pam_faillock.unlock_time }}', 'before':'^auth\s+required\s+pam_deny.so'}
            - { 'regexp': '^account\s+required\s+pam_faillock.so', 'line': 'account      required       pam_faillock.so', 'before':'^account     required      pam_unix.so'}

      - name: 4.4.2 | PATCH | Ensure authselect includes with-faillock | not auth select profile"
        when:
            - amzn2023cis_add_faillock_without_authselect
            - amzn2023cis_4_4_2_risks == 'ACCEPT'
        ansible.builtin.lineinfile:
            path: "/etc/pam.d/system-auth"
            regexp: "{{ item.regexp }}"
            line: "{{ item.line }}"
            insertbefore: "{{ item.before | default(omit) }}"
            insertafter: "{{ item.after | default(omit) }}"
        loop:
            - { 'regexp': '^auth\s+required\s+pam_faillock.so preauth silent deny=.*unlock_time=.*', 'line':'auth        required      pam_faillock.so preauth silent deny={{ amzn2023cis_pam_faillock.deny }} unlock_time={{ amzn2023cis_pam_faillock.unlock_time }}', 'before':'^auth\s+sufficient\s+pam_unix.so try_first_pass'}
            - { 'regexp': '^auth\s+required\s+pam_faillock.so authfail deny=.*unlock_time=.*', 'line': 'auth        required      pam_faillock.so authfail deny={{ amzn2023cis_pam_faillock.deny }} unlock_time={{ amzn2023cis_pam_faillock.unlock_time }}', 'before':'^auth\s+required\s+pam_deny.so'}
            - { 'regexp': '^account\s+required\s+pam_faillock.so', 'line': 'account     required      pam_faillock.so', 'before':'^account     required      pam_unix.so'}
